img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link-style() {
  text-decoration: none;
}

.list-item-style() {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  padding: 0 20px;
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 660px;
    max-width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 980px;
  }
}

.wrapper--no-padding {
  margin-left: -20px;
  margin-right: -20px;
}
