.contest__promo {
  background-color: @dark_blue;
  background-image: url("../../img/background_city.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 102px;
  min-height: 237px;

  @media (min-width: @tablet-width) {
    background-image: url("../../img/background_city_tablet.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 191px;
    min-height: 440px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../../img/background_city_desktop.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 184px;
    min-height: 394px;
  }
}

.contest__caption {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @white;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.contest__container {
  padding-top: 55px;
  padding-bottom: 40px;
}

.contest__conditions--mobile {
  line-height: 30px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.contest__conditions--hide-mobile {
  line-height: 30px;
  margin-top: 0;

  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    max-width: 430px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    max-width: 600px;
  }
}
