.contacts {
  padding: 42px 0 0;
  position: relative;

  @media (min-width: @desktop-width) {
    padding-top: 58px;
  }
}

.contacts__caption {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin: 0 0 33px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 55px;
    max-width: 370px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    max-width: 462px;
  }
}

.contacts__list {
  .list-item-style();
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding-top: 14px;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 82px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 22px;
    column-gap: 12px;
    justify-content: space-around;
  }
}

.contacts__item {
  @media (min-width: @tablet-width) {
    padding-bottom: 25px;
    width: 241px;
  }

  &:nth-child(2) {
    @media (min-width: @desktop-width) {
      order: 1;
    }
  }
}

.contacts__text {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  margin: 19px 0 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 2px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 20px;
  }
}

.contacts__phone {
  text-decoration: none;
}

.contacts__mail {
  &:hover,
  &:focus {
    color: @blue;
    text-decoration: underline;
  }

  &:active {
    color: fade(@blue, 30%);
    text-decoration: none;
  }
}

.contacts__data {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @pink;
}

.contacts__wrapper {
  width: 100%;
  display: flex;
}

.contacts__map {
  background-color: @grey;
  width: 100%;
  height: 200px;
  position: relative;

  @media (min-width: @tablet-width) {
    height: 374px;
  }

  @media (min-width: @desktop-width) {
    height: 495px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 68px;
    background-color: @white;
    clip-path: polygon(100% 0, 50% 50%, 0 0, 100% 0,);

    @media (min-width: @tablet-width) {
      height: 127px;
    }

    @media (min-width: @desktop-width) {
      height: 185px;
    }
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}

.contacts__map-marker {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 47%;
  left: 44%;
  z-index: 1;

  @media (min-width: @tablet-width) {
    top: 52%;
    left: 47%;
  }

  @media (min-width: @desktop-width) {
    top: 52%;
    left: 49%;
  }
}
