.contest__background {
  background-color: @dark_blue;
  background-image: url("../../img/background_city.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 102px;
  min-height: 237px;
}

.contest__caption {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @white;
  margin: 0;
}

.contest__container {
  padding: 55px 0 40px;
}

.contest__conditions {
  line-height: 30px;
}
