.features {
  background-color: @light_grey;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -35px;
    left: 0;
    width: 100%;
    height: 35px;
    background-color: @light_grey;
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
    z-index: -1;

    @media (min-width: @tablet-width) {
      top: -54px;
      height: 54px;
    }

    @media (min-width: @desktop-width) {
      top: -98px;
      height: 98px;
    }
  }
}

.features__list {
  padding-top: 48px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-top: 22px;
    padding-bottom: 9px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    max-width: 310px;
    width: 100%;
    text-align: left;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    text-align: center;
    max-width: 940px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  br {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 157px;
    height: 287px;
    background-image: url("../../img/phone_mobile.png");
    background-repeat: no-repeat;
    background-position: center bottom -43px;
    margin: 0 auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/phone_mobile@2x.png");
      background-size: 157px 320px;
    }

    @media (min-width: @tablet-width) {
      background-image: url("../../img/phone_tablet.png");
      background-position: center bottom -65px;
      width: 268px;
      height: 485px;
      position: absolute;
      top: -52px;
      left: -310px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/phone_tablet@2x.png");
        background-size: 268px 547px;
      }
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.features__item {
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    background-color: @light_grey;
    max-width: 300px;
    position: relative;
    padding-top: 242px;

    &:nth-child(1)::before {
      content: "";
      position: absolute;
      top: -115px;
      left: 0;
      width: 300px;
      height: 302px;
      background-image: url("../../img/phone_desktop_black-white.png");
      background-repeat: no-repeat;
      background-position: center bottom -80px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/phone_desktop_black-white@2x.png");
        background-size: 300px 382px;
      }
    }

    &:nth-child(2)::before {
      content: "";
      position: absolute;
      top: -115px;
      left: 0;
      width: 300px;
      height: 302px;
      background-image: url("../../img/phone_desktop_pink.png");
      background-repeat: no-repeat;
      background-position: center bottom -80px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/phone_desktop_pink@2x.png");
        background-size: 300px 382px;
      }
    }

    &:nth-child(3)::before {
      content: "";
      position: absolute;
      top: -115px;
      left: 0;
      width: 300px;
      height: 302px;
      background-image: url("../../img/phone_desktop_pink-smile.png");
      background-repeat: no-repeat;
      background-position: center bottom -80px;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/phone_desktop_pink-smile@2x.png");
        background-size: 300px 382px;
      }
    }
  }
}

.features__caption {
  font-size: 18px;
  font-weight: 700;
  color: @black;
  margin-bottom: 13px;

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 23px;
  }

  br {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }
}

.features__description {
  margin-left: 0;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
    padding: 0 28px;
    margin: 0 auto;
  }

  br {
    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}
