.form {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 980px;
    margin: 0 auto;
  }
}

.form__user-name,
.form__user-achievements,
.form__user-contacts,
.form__user-app,
.form__user-emotions {
  border: none;
  margin: 0;
}

.form__user-name-list,
.form__user-achievements-list,
.form__user-contacts-list,
.form__user-app-list {
  .list-item-style();
}

.form__user-name {
  padding: 25px 0 45px;

  @media (min-width: @tablet-width) {
    order: 1;
    margin: 0 auto;
  }

  & .container {
    @media (min-width: @desktop-width) {
      width: 433px;
    }
  }
}

.form__user-name-item {
  text-align: left;
  line-height: 30px;
  margin: 0 0 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: baseline;
  }
}

.form__user-name-label {
  color: @pink;
  text-transform: uppercase;
}

.form__user-name-input {
  font-size: 18px;
  line-height: 30px;
  color: @blue;
  height: 59px;
  border: 2px solid @grey;
  border-radius: 1px;
  padding-left: 20px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  display: block;
  width: 100%;

  &:hover,
  &:focus {
    border-color: @blue;
  }

  &:active {
    border-color: @pink;
  }

  &::placeholder {
    color: @blue;
  }
}

.form__user-achievements {
  background-color: @light_grey;
  padding: 45px 0;
  text-align: left;

  @media (min-width: @tablet-width) {
    background-color: @white;
    order: 4;
    margin: 0 auto;
  }
}

.form__user-achievements-legend {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @pink;
  text-transform: uppercase;
  max-width: 220px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: @tablet-width) {
    line-height: 30px;
  }
}

.form__user-achievements-label {
  font-size: 18px;
  line-height: 30px;
  display: flex;
  padding: 30px 0;

  &::before {
    content: "";
    display: block;
    width: 39px;
    height: 39px;
    background-image: url("../../img/icons/icon_checkbox.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover::before,
  &:focus::before {
    background-image: url("../../img/icons/icon_checkbox--hover.svg");
  }

  &:active::before {
    background-image: url("../../img/icons/icon_checkbox--active.svg");
  }
}

.form__user-achievements-checkbox:checked {
  & ~ .form__user-achievements-label::before {
    background-image: url("../../img/icons/icon_tick_checkbox.svg"), url("../../img/icons/icon_checkbox.svg");
  }
}

.form__user-contacts {
  padding: 0;

  @media (min-width: @tablet-width) {
    order: 3;
    margin: 0 auto;
  }
}

.form__user-contacts-legend {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @pink;
  text-transform: uppercase;
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.form__user-contacts-item {
  text-align: left;
  margin: 0 0 20px;
  line-height: 30px;
}

.form__user-contacts-label {
  color: @pink;
  text-transform: uppercase;
}

.form__user-contacts-input {
  font-size: 18px;
  line-height: 30px;
  color: @blue;
  height: 59px;
  border: 2px solid @grey;
  padding-left: 20px;
  box-sizing: border-box;
  text-overflow: ellipsis;

  &:hover,
  &:focus {
    border-color: @blue;
  }

  &:active {
    border-color: @pink;
  }

  &::placeholder {
    color: @blue;
  }
}

.form__user-app {
  background-color: @light_grey;
  padding: 42px 0;

  @media (min-width: @tablet-width) {
    background-color: @white;
    order: 2;
    margin: 0 auto;
  }

  & .container {
    @media (min-width: @desktop-width) {
      width: 433px;
    }
  }
}

.form__user-app-legend {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @pink;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    line-height: 30px;
  }
}

.form__user-app-label {
  font-size: 18px;
  line-height: 30px;
  display: flex;
  padding: 25px 0;

  &::before {
    content: "";
    display: block;
    width: 41px;
    height: 41px;
    background-image: url("../../img/icons/icon_radio_btn.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover::before,
  &:focus::before {
    background-image: url("../../img/icons/icon_radio_btn--hover.svg");
  }

  &:active::before {
    background-image: url("../../img/icons/icon_radio_btn--active.svg");
  }
}

.form__user-app-radio:checked {
  & ~ .form__user-app-label::before {
    background-image: url("../../img/icons/icon_radio-btn_checked.svg"), url("../../img/icons/icon_radio_btn.svg");
  }
}

.form__user-emotions {
  padding: 42px 0;

  @media (min-width: @tablet-width) {
    order: 5;
    margin: 0 auto;
  }
}

.form__user-emotions-label {
  line-height: 18px;
  color: @pink;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    line-height: 30px;
  }
}

.form__user-emotions-textarea {
  font-size: 18px;
  line-height: 30px;
  color: @blue;
  padding: 10px;
  border: 2px solid @grey;
  margin-top: 14px;
  box-sizing: border-box;
}

.form__box {
  @media (min-width: @tablet-width) {
    order: 6;
    display: flex;
    justify-content: space-between;
  }
}

.form__button {
  padding: 10px 2px;
  border-radius: 2px;
  max-width: 276px;
}

.form__note {
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 50%;
  }

  sup {
    color: @pink;
  }
}
