.page-footer {
  padding: 39px 0 30px;

  @media (min-width: @tablet-width) {
    padding: 34px 0 37px;
  }

  @media (min-width: @desktop-width) {
    padding: 70px 0 60px;
  }

  & .container {
    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.page-footer__logo-mobile {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-footer__logo:hover,
.page-footer__logo:focus {
  color: @pink;
}

.page-footer__logo:active {
  color: rgba(@blue, 0.6);
  opacity: 0.3;
}

.page-footer__logo-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}
