.prices {
  background-color: @light_grey;
  padding: 100px 0 45px;
}

.prices__table {
  margin: 0 auto 43px;
  text-transform: uppercase;
}

.prices__body {
  background-color: @white;
}

.prices__heading {
  background-color: @blue;
}

.prices__name {
  font-size: 18px;
  font-weight: 300;
  color: @white;
  padding: 19px 5px 35px;

  span {
    font-size: 16px;
    font-weight: 700;
  }
}

.prices__composition {
  text-align: left;
  padding: 25px 3px;
}
