.reviews__slider {
  padding: 50px 0 55px;
}

.reviews__list {
  .list-item-style();
}

.reviews__blockquote {
  margin: 0;
}

.reviews__item {
  padding-bottom: 42px;
}

.reviews__user-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @black;
  margin: 0 0 31px 0;
}

.reviews__text {
  line-height: 30px;
  margin: 0;
}
