.slogan {
  padding-top: 40px;
  padding-bottom: 36px;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
    padding-bottom: 82px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 62px;
    padding-bottom: 150px;
  }
}

.slogan__text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  padding-bottom: 29px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 55px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}
