.social {
  padding: 32px 0 35px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 13px;
  }
}

.social__list {
  .list-item-style();
  display: flex;
  justify-content: center;
}

.social__link {
  border: 3px solid rgba(@blue, 0.1);
  border-radius: 50%;
  color: @pink;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 6px;

  &:hover,
  &:focus {
    border-color: @blue;
  }

  &:active {
    border: 3px solid rgba(@blue, 0.1);
    color: rgba(@pink, 0.3);
  }
}
